
/* 'Nunito Sans' normal 200*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 200;
    src:
    url('./fonts/nunito-sans-normal-200.woff2') format('woff2'),
    url('./fonts/nunito-sans-normal-200.woff') format('woff');
}

/* 'Nunito Sans' italic 200*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 200;
    src:
    url('./fonts/nunito-sans-italic-200.woff2') format('woff2'),
    url('./fonts/nunito-sans-italic-200.woff') format('woff');
}

/* 'Nunito Sans' normal 300*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    src:
    url('./fonts/nunito-sans-normal-300.woff2') format('woff2'),
    url('./fonts/nunito-sans-normal-300.woff') format('woff');
}

/* 'Nunito Sans' italic 300*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 300;
    src:
    url('./fonts/nunito-sans-italic-300.woff2') format('woff2'),
    url('./fonts/nunito-sans-italic-300.woff') format('woff');
}

/* 'Nunito Sans' normal 400*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src:
    url('./fonts/nunito-sans-normal-400.woff2') format('woff2'),
    url('./fonts/nunito-sans-normal-400.woff') format('woff');
}

/* 'Nunito Sans' italic 400*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    src:
    url('./fonts/nunito-sans-italic-400.woff2') format('woff2'),
    url('./fonts/nunito-sans-italic-400.woff') format('woff');
}

/* 'Nunito Sans' normal 500*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 500;
    src:
    url('./fonts/nunito-sans-normal-500.woff2') format('woff2'),
    url('./fonts/nunito-sans-normal-500.woff') format('woff');
}

/* 'Nunito Sans' italic 500*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 500;
    src:
    url('./fonts/nunito-sans-italic-500.woff2') format('woff2'),
    url('./fonts/nunito-sans-italic-500.woff') format('woff');
}

/* 'Nunito Sans' normal 700*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    src:
    url('./fonts/nunito-sans-normal-700.woff2') format('woff2'),
    url('./fonts/nunito-sans-normal-700.woff') format('woff');
}

/* 'Nunito Sans' italic 700*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 700;
    src:
    url('./fonts/nunito-sans-italic-700.woff2') format('woff2'),
    url('./fonts/nunito-sans-italic-700.woff') format('woff');
}

/* 'Nunito Sans' normal 800*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    src:
    url('./fonts/nunito-sans-normal-800.woff2') format('woff2'),
    url('./fonts/nunito-sans-normal-800.woff') format('woff');
}

/* 'Nunito Sans' italic 800*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 800;
    src:
    url('./fonts/nunito-sans-italic-800.woff2') format('woff2'),
    url('./fonts/nunito-sans-italic-800.woff') format('woff');
}

/* 'Nunito Sans' normal 900*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 900;
    src:
    url('./fonts/nunito-sans-normal-900.woff2') format('woff2'),
    url('./fonts/nunito-sans-normal-900.woff') format('woff');
}

/* 'Nunito Sans' italic 900*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 900;
    src:
    url('./fonts/nunito-sans-italic-900.woff2') format('woff2'),
    url('./fonts/nunito-sans-italic-900.woff') format('woff');
}

/* 'Crimson Pro' normal 400*/
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 400;
    src:
    url('./fonts/crimson-pro-normal-400.woff2') format('woff2'),
    url('./fonts/crimson-pro-normal-400.woff') format('woff');
}

/* 'Crimson Pro' italic 400*/
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 400;
    src:
    url('./fonts/crimson-pro-italic-400.woff2') format('woff2'),
    url('./fonts/crimson-pro-italic-400.woff') format('woff');
}

/* 'Crimson Pro' normal 600*/
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 600;
    src:
    url('./fonts/crimson-pro-normal-600.woff2') format('woff2'),
    url('./fonts/crimson-pro-normal-600.woff') format('woff');
}

/* 'Crimson Pro' italic 600*/
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 600;
    src:
    url('./fonts/crimson-pro-italic-600.woff2') format('woff2'),
    url('./fonts/crimson-pro-italic-600.woff') format('woff');
}

/* 'Crimson Pro' normal 700*/
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    src:
    url('./fonts/crimson-pro-normal-700.woff2') format('woff2'),
    url('./fonts/crimson-pro-normal-700.woff') format('woff');
}

/* 'Crimson Pro' italic 700*/
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 700;
    src:
    url('./fonts/crimson-pro-italic-700.woff2') format('woff2'),
    url('./fonts/crimson-pro-italic-700.woff') format('woff');
}

/* 'Source Sans 3' normal 200*/
@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 200;
    src:
    url('./fonts/source-sans-3-normal-200.woff2') format('woff2'),
    url('./fonts/source-sans-3-normal-200.woff') format('woff');
}

/* 'Source Sans 3' italic 200*/
@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 200;
    src:
    url('./fonts/source-sans-3-italic-200.woff2') format('woff2'),
    url('./fonts/source-sans-3-italic-200.woff') format('woff');
}

/* 'Source Sans 3' normal 300*/
@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 300;
    src:
    url('./fonts/source-sans-3-normal-300.woff2') format('woff2'),
    url('./fonts/source-sans-3-normal-300.woff') format('woff');
}

/* 'Source Sans 3' italic 300*/
@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 300;
    src:
    url('./fonts/source-sans-3-italic-300.woff2') format('woff2'),
    url('./fonts/source-sans-3-italic-300.woff') format('woff');
}

/* 'Source Sans 3' normal 400*/
@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    src:
    url('./fonts/source-sans-3-normal-400.woff2') format('woff2'),
    url('./fonts/source-sans-3-normal-400.woff') format('woff');
}

/* 'Source Sans 3' italic 400*/
@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 400;
    src:
    url('./fonts/source-sans-3-italic-400.woff2') format('woff2'),
    url('./fonts/source-sans-3-italic-400.woff') format('woff');
}

/* 'Source Sans 3' normal 500*/
@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 500;
    src:
    url('./fonts/source-sans-3-normal-500.woff2') format('woff2'),
    url('./fonts/source-sans-3-normal-500.woff') format('woff');
}

/* 'Source Sans 3' italic 500*/
@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 500;
    src:
    url('./fonts/source-sans-3-italic-500.woff2') format('woff2'),
    url('./fonts/source-sans-3-italic-500.woff') format('woff');
}

/* 'Source Sans 3' normal 700*/
@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 700;
    src:
    url('./fonts/source-sans-3-normal-700.woff2') format('woff2'),
    url('./fonts/source-sans-3-normal-700.woff') format('woff');
}

/* 'Source Sans 3' italic 700*/
@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 700;
    src:
    url('./fonts/source-sans-3-italic-700.woff2') format('woff2'),
    url('./fonts/source-sans-3-italic-700.woff') format('woff');
}

/* 'Source Sans 3' normal 800*/
@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 800;
    src:
    url('./fonts/source-sans-3-normal-800.woff2') format('woff2'),
    url('./fonts/source-sans-3-normal-800.woff') format('woff');
}

/* 'Source Sans 3' italic 800*/
@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 800;
    src:
    url('./fonts/source-sans-3-italic-800.woff2') format('woff2'),
    url('./fonts/source-sans-3-italic-800.woff') format('woff');
}

/* 'Source Sans 3' normal 900*/
@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 900;
    src:
    url('./fonts/source-sans-3-normal-900.woff2') format('woff2'),
    url('./fonts/source-sans-3-normal-900.woff') format('woff');
}

/* 'Source Sans 3' italic 900*/
@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 900;
    src:
    url('./fonts/source-sans-3-italic-900.woff2') format('woff2'),
    url('./fonts/source-sans-3-italic-900.woff') format('woff');
}

/* 'Source Serif 4' normal 200*/
@font-face {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 200;
    src:
    url('./fonts/source-serif-4-normal-200.woff2') format('woff2'),
    url('./fonts/source-serif-4-normal-200.woff') format('woff');
}

/* 'Source Serif 4' italic 200*/
@font-face {
    font-family: 'Source Serif 4';
    font-style: italic;
    font-weight: 200;
    src:
    url('./fonts/source-serif-4-italic-200.woff2') format('woff2'),
    url('./fonts/source-serif-4-italic-200.woff') format('woff');
}

/* 'Source Serif 4' normal 300*/
@font-face {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 300;
    src:
    url('./fonts/source-serif-4-normal-300.woff2') format('woff2'),
    url('./fonts/source-serif-4-normal-300.woff') format('woff');
}

/* 'Source Serif 4' italic 300*/
@font-face {
    font-family: 'Source Serif 4';
    font-style: italic;
    font-weight: 300;
    src:
    url('./fonts/source-serif-4-italic-300.woff2') format('woff2'),
    url('./fonts/source-serif-4-italic-300.woff') format('woff');
}

/* 'Source Serif 4' normal 400*/
@font-face {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    src:
    url('./fonts/source-serif-4-normal-400.woff2') format('woff2'),
    url('./fonts/source-serif-4-normal-400.woff') format('woff');
}

/* 'Source Serif 4' italic 400*/
@font-face {
    font-family: 'Source Serif 4';
    font-style: italic;
    font-weight: 400;
    src:
    url('./fonts/source-serif-4-italic-400.woff2') format('woff2'),
    url('./fonts/source-serif-4-italic-400.woff') format('woff');
}

/* 'Source Serif 4' normal 500*/
@font-face {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 500;
    src:
    url('./fonts/source-serif-4-normal-500.woff2') format('woff2'),
    url('./fonts/source-serif-4-normal-500.woff') format('woff');
}

/* 'Source Serif 4' italic 500*/
@font-face {
    font-family: 'Source Serif 4';
    font-style: italic;
    font-weight: 500;
    src:
    url('./fonts/source-serif-4-italic-500.woff2') format('woff2'),
    url('./fonts/source-serif-4-italic-500.woff') format('woff');
}

/* 'Source Serif 4' normal 700*/
@font-face {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 700;
    src:
    url('./fonts/source-serif-4-normal-700.woff2') format('woff2'),
    url('./fonts/source-serif-4-normal-700.woff') format('woff');
}

/* 'Source Serif 4' italic 700*/
@font-face {
    font-family: 'Source Serif 4';
    font-style: italic;
    font-weight: 700;
    src:
    url('./fonts/source-serif-4-italic-700.woff2') format('woff2'),
    url('./fonts/source-serif-4-italic-700.woff') format('woff');
}

/* 'Source Serif 4' normal 800*/
@font-face {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 800;
    src:
    url('./fonts/source-serif-4-normal-800.woff2') format('woff2'),
    url('./fonts/source-serif-4-normal-800.woff') format('woff');
}

/* 'Source Serif 4' italic 800*/
@font-face {
    font-family: 'Source Serif 4';
    font-style: italic;
    font-weight: 800;
    src:
    url('./fonts/source-serif-4-italic-800.woff2') format('woff2'),
    url('./fonts/source-serif-4-italic-800.woff') format('woff');
}

/* 'Spectral' normal 200*/
@font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 200;
    src:
    url('./fonts/spectral-normal-200.woff2') format('woff2'),
    url('./fonts/spectral-normal-200.woff') format('woff');
}

/* 'Spectral' italic 200*/
@font-face {
    font-family: 'Spectral';
    font-style: italic;
    font-weight: 200;
    src:
    url('./fonts/spectral-italic-200.woff2') format('woff2'),
    url('./fonts/spectral-italic-200.woff') format('woff');
}

/* 'Spectral' normal 300*/
@font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 300;
    src:
    url('./fonts/spectral-normal-300.woff2') format('woff2'),
    url('./fonts/spectral-normal-300.woff') format('woff');
}

/* 'Spectral' italic 300*/
@font-face {
    font-family: 'Spectral';
    font-style: italic;
    font-weight: 300;
    src:
    url('./fonts/spectral-italic-300.woff2') format('woff2'),
    url('./fonts/spectral-italic-300.woff') format('woff');
}

/* 'Spectral' normal 400*/
@font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 400;
    src:
    url('./fonts/spectral-normal-400.woff2') format('woff2'),
    url('./fonts/spectral-normal-400.woff') format('woff');
}

/* 'Spectral' italic 400*/
@font-face {
    font-family: 'Spectral';
    font-style: italic;
    font-weight: 400;
    src:
    url('./fonts/spectral-italic-400.woff2') format('woff2'),
    url('./fonts/spectral-italic-400.woff') format('woff');
}

/* 'Spectral' normal 500*/
@font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 500;
    src:
    url('./fonts/spectral-normal-500.woff2') format('woff2'),
    url('./fonts/spectral-normal-500.woff') format('woff');
}

/* 'Spectral' italic 500*/
@font-face {
    font-family: 'Spectral';
    font-style: italic;
    font-weight: 500;
    src:
    url('./fonts/spectral-italic-500.woff2') format('woff2'),
    url('./fonts/spectral-italic-500.woff') format('woff');
}

/* 'Spectral' normal 700*/
@font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 700;
    src:
    url('./fonts/spectral-normal-700.woff2') format('woff2'),
    url('./fonts/spectral-normal-700.woff') format('woff');
}

/* 'Spectral' italic 700*/
@font-face {
    font-family: 'Spectral';
    font-style: italic;
    font-weight: 700;
    src:
    url('./fonts/spectral-italic-700.woff2') format('woff2'),
    url('./fonts/spectral-italic-700.woff') format('woff');
}

/* 'Spectral' normal 800*/
@font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 800;
    src:
    url('./fonts/spectral-normal-800.woff2') format('woff2'),
    url('./fonts/spectral-normal-800.woff') format('woff');
}

/* 'Spectral' italic 800*/
@font-face {
    font-family: 'Spectral';
    font-style: italic;
    font-weight: 800;
    src:
    url('./fonts/spectral-italic-800.woff2') format('woff2'),
    url('./fonts/spectral-italic-800.woff') format('woff');
}
