
/* Some basic index styles */

@mixin homepage(){
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  --body-background: #{$dm-nav-background-color};
  --footer-background: #e4e4e4;
  main{
    margin:0;
  }
  .navbar{
    margin-bottom:0;
  }


  .container{
    z-index:99;
  }


  .home-main{
    padding-top: ms(2);
    padding-bottom: ms(2);
    display:flex;
    flex-direction:column;
    justify-content:center;
    //background: linear-gradient(to bottom, $dm-nav-background-color 80%, $dm-off-white 100%);
  }

  .home-main__container{
    display:flex;
    flex-direction:column;
    margin:auto;
    position:relative;
    padding-bottom: ms(2);
  }

  .scroll-down-btn{
    position:relative;
    margin: auto;
    font-size: 3rem;
    color: $dm-dark-grey;
    animation: bounce-downwards 2s ease(in-out-quad) infinite;
  }

  section{
    scroll-snap-align: start;
  }

  .home-header {
    margin-bottom: ms(3);
    z-index:90;
    h1 {
      font-size: clamp(ms(3)*1.15, 6vw, ms(4));
      line-height: 1;
      margin-bottom: ms(2);
      letter-spacing: 0;
      text-align:center;
      width:100%;
      margin:0 auto;
      div:nth-child(2){
        margin-top: ms(1);
        margin-bottom: ms(1);
        font-weight: 300;

      }
      div:first-of-type,
      div:last-of-type{
        text-transform: lowercase;
        font-variant: small-caps;
        font-weight: 300;
        display:flex;
        gap: 4px;
        align-items:center;
        justify-content:space-between;
        font-size: ms(1) * 1.2;
        &:after, &:before{
          content:"";
          display:inline-block;
          width:50%;
          flex:1 1 auto;
          height:2px;
          margin:0 4px;
          background:linear-gradient(90deg, $dm-black 0%, $dm-black 100%);
        }
        &:before{
          transform: rotate(180deg);
        }
      }
    }
    div {
      line-height: 1;
    }
  }
  .home-desc{
    font-size: clamp(1.4rem, 4vw, 1.6rem);
    line-height:1.5;
    max-width:50rem;
    margin:0 auto;
    z-index:999;
    font-family: $heading-font;
    letter-spacing: -1px;
    font-weight: 350;
    color: $dm-dark-grey;
  }


  .body-nav{
    display:none;
  }

  .container > h2{
      font-size: ms(2);
      margin-bottom: ms(1);
      padding-bottom: ms(-1);
      border-bottom: 1px solid $dm-black;

  }


  .home-search {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--hero-image);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: ms(1);
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    & > .container {
      padding: ms(0) minmax(2vw, ms(0));
      color: $dm-white;
      border-radius: 8px;
      h2{
        border-bottom-color: $dm-white;
      }
    }
    & + section {
      margin-top: ms(1);
    }
  }


  // .explore-list {
  //   display: grid;
  //   list-style-type: none;
  //   grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  //   padding: 0;
  //   margin: 0;
  //   grid-column-gap: ms(1);
  //   grid-row-gap: ms(0);
  //   li {
  //     @include dm-linkButton();
  //     font-size: ms(1);
  //     height: 8rem;
  //     a{
  //       @include dm-removeLink;
  //       width:100%;
  //       height:100%;
  //       padding: ms(0);
  //       display:flex;
  //       justify-content:center;
  //       align-items:center;
  //       text-align:center;
  //       color:black;
  //       line-height: 1.2;
  //       &:hover{
  //         color:black;
  //       }
  //     }
  //   }
  // }

  .glass, .item {
      border-color: color.scale($dm-beige, $lightness: -20%);
      backdrop-filter: blur(3px);
      background: rgba($dm-off-white, 0.8);

  }

  .item .item-content-desc{
    color:black;
  }

}



