{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-32.png' %}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-128.png' %}" sizes="128x128"/>
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-152.png' %}" sizes="152x152"/>
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-167.png' %}" sizes="167x167"/>
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-180.png' %}" sizes="180x180"/>
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-192.png' %}" sizes="192x192"/>
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-196.png' %}" sizes="196x196"/>
    <style>
        /* Hack to fix forms */
        .aligned fieldset {
            width: 600px !important;
        }
        .aligned fieldset > div {
            width: auto !important;
        }
        .aligned fieldset > div div.flex-container {
            width: auto !important;
        }
    </style>
{% endblock %}