<button class="btn btn-outline-secondary" type="button" data-bs-toggle="popover"
    data-bs-title="Search Options"
    data-bs-custom-class="search-popover"
    data-bs-content="<ul class='list-group list-group-flush p-0 m-0'><li class='list-group-item'><code>&quot;william shakespeare&quot;</code><br /><strong>william</strong> and <strong>shakespeare</strong> must be present (order matters)</li><li class='list-group-item'><code>shakespeare fisher</code><br /><strong>shakespeare</strong> and <strong>fisher</strong> must be present (order does not matters)</li><li class='list-group-item'><code>shakespeare or fisher</code><br /><strong>shakespeare</strong> or <strong>fisher</strong> must be present (order does not matters)</li><li class='list-group-item'><code>-fisher</code><br /><strong>fisher</strong> must not be present</li><li class='list-group-item'>Combinations are okay:<br /><code>agnes -fisher</code><br />Finds <strong>anges</strong> who isn't a <strong>fisher</strong></li></ul>"
>
    <i class="bi bi-question-circle"></i>
</button>